<div class="container mt-4">
  <h2 class="text-center">Sửa</h2>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Tên</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{course.name}}"
        autocomplete="off"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value="{{course.description}}"
        autocomplete="off"
      />
    </div>
    <div class="mb-3">
      <label for="videoID" class="form-label">Video ID</label>
      <input
        type="text"
        class="form-control"
        id="videoID"
        name="videoID"
        value="{{course.videoID}}"
        autocomplete="off"
      />
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Sửa</button>
    </div>
  </form>
</div>