<div class="container mt-4">
  <img src="{{course.thumbnail}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{course.name}}</h5>
    <p class="card-text">{{course.description}}</p>
  </div>
</div>